%h1
  Friends List
  - @user.each do |users|
    .user
      Name Friend:
      = users.name
      = link_to 'Add', friend_path(users.id), method: :post
      = link_to 'Delete', friend_path(users.id), method: :delete